@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
}

* {
  font-family: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  display: none;
}