@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
  --grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

* {
  font-family: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  display: none;
}